$borderColor: #e3e3e3;
$zestelaColor: #311E8F;

:root {
	--el-color-primary: #6A5DAE !important;
	--el-color-primary-light-3: #beb3f4 !important;
	--el-color-primary-light-5: #bdb3f0 !important;
	--el-color-primary-light-7: #c1b7f4 !important;
	--el-color-primary-light-8: #cec6fd !important;
	--el-color-primary-light-9: #e0d9ff !important;
}

@font-face {
	font-family: 'HarmonyOS Sans';
	src:
		url("/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'HarmonyOS Sans';
	src:
		url("/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.woff2") format("woff2");
	font-weight: bold;
}

* {
	font-family: "HarmonyOS Sans";
}

body {
	overflow-x: visible;
	margin: 0;
}

.el-header {
	height: 18vh !important;
	border: none;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	* {
		user-select: none;
		height: min-content;
	}
}

.el-main {
	margin: {
		top: 4vh;
		bottom: 4vh;
	}

	.search-box {
		display: flex;
		justify-content: center;

		.el-input {
			width: 40%;
			height: 40px;
			border-radius: 15px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);

			.el-input__wrapper {
				box-shadow: none;

				border: {
					style: solid;
					width: 1px;
					color: $borderColor;
					right-width: 0px;
					top-left-radius: 15px;
					bottom-left-radius: 15px
				}

				;
			}

			.el-input-group__append {
				color: white;
				background-color: $zestelaColor;
				box-shadow: none;
				padding-left: 30px;
				padding-right: 30px;

				border: {
					top-right-radius: 15px;
					bottom-right-radius: 15px
				}

				;
			}
		}
	}

	.info-box {
		margin-top: 15px;
		margin-bottom: 15px;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;

		.info-flexbox {
			width: 40%;
			display: flex;
			flex-wrap: nowrap;

			img {
				border-radius: 15px;
			}

			.info-inbox {
				margin-left: 15px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				flex: 1;
				height: 87px;

				border: {
					style: solid;
					width: 1px;
					color: $borderColor;
					radius: 15px;
				}

				;

				.song-name-input .el-input__wrapper .el-input__inner {
					font-weight: bold;
				}

				.el-input {
					width: 90%;

					.el-input__wrapper {
						font-size: 20px;
						padding: 0;
						box-shadow: none;

						.el-input__inner {
							color: black;
						}
					}
				}
			}
		}
	}

	.lyrics-input {
		display: flex;
		justify-content: center;

		.el-textarea__inner {
			color: black;
			border-radius: 15px;
			border-color: $borderColor;
			resize: none;
			height: 35vh;
			width: 40%;
			padding: 20px;
			scrollbar-width: thin;
			scrollbar-color: $borderColor transparent;
		}
	}

	.select-box {
		display: flex;
		justify-content: center;
		margin-top: 15px;
		margin-bottom: 25px;

		.select-inbox {
			width: 40%;
			display: flex;
			flex-wrap: nowrap;

			.el-select {
				.el-select__wrapper {
					color: black;
					border-color: $borderColor;
					border-radius: 15px;

					.el-select__selection span {
						color: black;
					}

					.el-select__suffix i {
						color: #999999;
					}
				}
			}
		}
	}

	.generation-btn-box {
		display: flex;
		justify-content: center;

		.generation-btn {
			color: white;
			background-color: $zestelaColor;
			border: none;
			border-radius: 15px;
			width: 83px;
			height: 36px;
			font-size: 16px !important;
		}
	}
}

#search_suggestions {
	width: 40%;
	height: 346px;
	position: absolute;
	margin-top: 50px;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);

	.el-card__body {
		flex-wrap: wrap;
		--el-card-padding: 12px !important;

		.el-button {
			display: block;
			border: none;
			margin: 0 !important;
			width: 100%;
			text-align: start;
		}
	}
}

.el-dialog {
	border-radius: 15px !important;
	padding: 20px !important;
	--el-dialog-width: 35% !important;


	.el-dialog__header {
		span {
			font-size: 20px;
			font-weight: bold;
		}

		button i {
			color: black;
		}
	}

	.el-dialog__body {
		.preview-box {
			display: flex;
			justify-content: center;

			img {
				border-radius: 15px;
				width: 60%;
			}
		}
	}
}

.share-btn-box {
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;

	.share-btn {
		color: white;
		background-color: $zestelaColor;
		border: none;
		border-radius: 15px;
		width: 83px;
		height: 36px;
		font-size: 16px !important;

		&:hover {
			color: white;
			background-color: $zestelaColor;
		}
	}
}

.preview-info-box {
	margin-top: 10px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	* {
		color: black !important;
		text-align: center;
		width: 100%;
	}
}

// .share-box {
// 	margin-top: 100rem;
// }

@media screen and (max-width: 600px) {
	#search_suggestions {
		width: 90%;
	}

	.el-dialog {
		--el-dialog-width: 95% !important;

		.el-dialog__body {
			.preview-box {
				img {
					width: 70%;
				}
			}
		}
	}

	.el-main {
		margin: {
			top: 4vh;
			bottom: 4vh;
		}

		.search-box {
			.el-input {
				width: 97%;
			}

			.el-input-group__append {
				padding-left: 20px !important;
				padding-right: 20px !important;

			}

		}

		.info-box {
			.info-flexbox {
				width: 97%;
				.info-inbox {
					.el-input {
						width: 97%;
					}
				}
			}
		}


		.lyrics-input {
			.el-textarea__inner {
				width: 97%;
			}
		}

		.select-box {
			.select-inbox {
				width: 97%;
			}
		}

		.info-inbox .el-input {
			width: 80% !important;
		}
	}
}

.el-popper {
	border-radius: 15px !important;
	border-color: $borderColor !important;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07) !important;
}

.el-select__popper {
	.el-popper__arrow {
		display: none;
	}
}

::selection {
    background: $zestelaColor; /* 粉红色的底色 */
    color: white; /* 文字的颜色 */
}