@font-face {
	font-family: 'HarmonyOS Sans';
	src:
		url("/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2") format("woff2"),
		url("/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.woff2") format("woff2"),
		url("/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Black.woff2") format("woff2");
}

* {
	font-family: "HarmonyOS Sans";
}

body {
	margin: 0;
}

.el-header {
	height: 20vh !important;
	border: none;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	* {
		height: min-content;
	}
}

.el-main {
	margin: {
		top: 50px;
		bottom: 50px;
	}

	.search-box {
		display: flex;
		justify-content: center;

		.el-input {
			width: 35%;
			height: 47px;
			border-radius: 15px;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);

			.el-input__wrapper {
				box-shadow: none;

				border: {
					style: solid;
					width: 1px;
					color: #E3E3E3;
					right-width: 0px;
					top-left-radius: 15px;
					bottom-left-radius: 15px
				}

				;
			}

			.el-input-group__append {
				color: white;
				background-color: #311E8F;
				box-shadow: none;

				border: {
					top-right-radius: 15px;
					bottom-right-radius: 15px
				}

				;
			}
		}
	}

	.info-box {
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
		flex-wrap: nowrap;

		.info-flexbox {
			width: 35%;
			display: flex;
			flex-wrap: nowrap;

			img {
				border-radius: 15px;
			}

			.info-inbox {
				margin-left: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				flex: 1;
				height: 87px;

				border: {
					style: solid;
					width: 1px;
					color: #E3E3E3;
					radius: 15px;
				}

				;

				.song-name-input .el-input__wrapper .el-input__inner {
					font-weight: bold;
				}

				.el-input {
					width: 90%;

					.el-input__wrapper {
						font-size: 20px;
						padding: 0;
						box-shadow: none;

						.el-input__inner {
							color: black;
						}
					}
				}
			}
		}
	}

	.lyrics-input {
		display: flex;
		justify-content: center;

		.el-textarea__inner {
			color: black;
			border-radius: 15px;
			border-color: #E3E3E3;
			resize: none;
			height: 35vh;
			width: 35%;
			padding: 20px;
			scrollbar-width: thin;
			scrollbar-color: #e3e3e3 transparent;
		}
	}

	.select-box {
		display: flex;
		justify-content: center;
		margin-top: 10px;
		margin-bottom: 20px;

		.select-inbox {
			width: 35%;
			display: flex;
			flex-wrap: nowrap;

			.el-select {
				.el-select__wrapper {
					color: black;
					border-color: #E3E3E3;
					border-radius: 15px;
					.el-select__selection span {
						color:black;
					}
					.el-select__suffix i {
						color: #999999;
					}
				}
			}
		}
	}

	.generation-btn-box {
		display: flex;
		justify-content: center;

		.generation-btn {
			color: white;
			background-color: #311E8F;
			border: none;
			border-radius: 15px;
			width: 83px;
			height: 36px;
			font-size: 16px !important;
		}
	}
}

#search_suggestions {
	width: 35%;
	height: 360px;
	position: absolute;
	margin-top: 50px;
	z-index: 1;
	border-radius: 15px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);

	.el-card__body {
		flex-wrap: wrap;

		.el-button {
			display: block;
			border: none;
			margin: 0 !important;
			width: 100%;
			text-align: start;
		}
	}
}

#share-box {
	display: flex;
	justify-content: center;
	flex-shrink:0;
}

#share-inbox {
	min-width: 100%;
	border: 1px #E3E3E3 solid;
}

.share-btn-box {
	display: flex;
	justify-content: center;

	.share-btn {
		margin-top: 10px;
		color: white;
		background-color: #311E8F;
		border: none;
		border-radius: 15px;
		width: 83px;
		height: 36px;
		font-size: 16px !important;

		&:hover {
			color: white;
			background-color: #311E8F;
		}		
	}
}

/* @media screen and (min-width: 1024px) {
	.el-main div {
		width:50%;
	}
} */