@use "header";
@use "main";
@use "media";

@font-face {
	font-family: 'HarmonyOS Sans';
	src:
		url("https://jsdelivr.pai233.top/gh/IKKI2000/harmonyos-fonts/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2") format("woff2");
}

@font-face {
	font-family: 'HarmonyOS Sans';
	src:
		url("https://jsdelivr.pai233.top/gh/IKKI2000/harmonyos-fonts/fonts/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.woff2") format("woff2");
	font-weight: bold;
}

* {
	font-family: "HarmonyOS Sans";
}

body {
	overflow-x: visible;
	margin: 0;
}