$borderColor: #e3e3e3;
$zestelaColor: #311E8F;

:root {
	--el-color-primary: #6A5DAE !important;
	--el-color-primary-light-3: #beb3f4 !important;
	--el-color-primary-light-5: #bdb3f0 !important;
	--el-color-primary-light-7: #c1b7f4 !important;
	--el-color-primary-light-8: #cec6fd !important;
	--el-color-primary-light-9: #e0d9ff !important;
}