@use "color";

.el-main {
  margin: {
    top: 3vh;
    bottom: 3vh;
  }

  .search-box {
    display: flex;
    justify-content: center;

    .el-input {
      width: 40%;
      height: 40px;
      border-radius: 15px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07);

      .is-focus {
        border-color: var(--el-input-focus-border-color) !important;
      }

      .el-input__wrapper {
        &:hover {
          border-color: var(--el-input-hover-border-color);
        }

        box-shadow: none;

        border: {
          style: solid;
          width: 1px;
          color: color.$borderColor;
          right-width: 0px;
          top-left-radius: 15px;
          bottom-left-radius: 15px
        }

        ;
      }

      .el-input-group__append {
        color: white;
        background-color: color.$zestelaColor;
        box-shadow: none;
        padding-left: 30px;
        padding-right: 30px;

        border: {
          top-right-radius: 15px;
          bottom-right-radius: 15px
        }

        ;
      }
    }
  }

  .info-box {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    .info-flexbox {
      width: 40%;
      display: flex;
      flex-wrap: nowrap;

      img {
        border-radius: 15px;
      }

      .info-inbox {
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        height: 87px;

        border: {
          style: solid;
          width: 1px;
          color: color.$borderColor;
          radius: 15px;
        }

        ;

        .song-name-input .el-input__wrapper .el-input__inner {
          font-weight: bold;
        }

        .el-input {
          width: 90%;

          .el-input__wrapper {
            font-size: 20px;
            padding: 0;
            box-shadow: none;

            .el-input__inner {
              color: black;
            }
          }
        }
      }
    }
  }

  .lyrics {
    display: flex;
    justify-content: center;
    user-select: none;
    height: 25vh;
    overflow: scroll;
    .el-card {
      width: 40%;
    }

    .lyrics-placecard {
      box-shadow: none;
      border-radius: 15px;
    }

    .lyrics-selector-box {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      * {
        width: 100%;
        min-height: 20%;
        margin: 0;
        margin-bottom: 5px;
        padding: {
          top: 8px;
        };
        font-size: 20px;
        font-weight: bold;
        border-radius: 15px;
        border-color: color.$borderColor;
      }
      .lyrics-selector-unselect {
        border-color: color.$borderColor;
      }
      .lyrics-selector-selected {
        color: white;
        background-color: color.$zestelaColor;
        border-color: color.$zestelaColor;
      }
    }
  }

  .select-box {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 25px;

    .select-inbox {
      width: 40%;
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .generation-btn-box {
    display: flex;
    justify-content: center;

    .generation-btn {
      color: white;
      background-color: color.$zestelaColor;
      border: none;
      border-radius: 15px;
      width: 83px;
      height: 36px;
      font-size: 16px !important;
    }
  }
}

.el-dialog {
  border-radius: 15px !important;
  padding: 20px !important;
  --el-dialog-width: 35% !important;


  .el-dialog__header {
    span {
      font-size: 20px;
      font-weight: bold;
    }

    button i {
      color: black;
    }
  }

  .el-dialog__body {
    .preview-box {
      display: flex;
      justify-content: center;

      img {
        border-radius: 15px;
        height: 25vh;
      }
    }
  }
}

.share-btn-box {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;

  .share-btn {
    color: white;
    background-color: color.$zestelaColor;
    border: none;
    border-radius: 15px;
    width: 83px;
    height: 36px;
    font-size: 16px !important;

    &:hover {
      color: white;
      background-color: color.$zestelaColor;
    }
  }
}

.preview-info-box {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  * {
    color: black !important;
    text-align: center;
    width: 100%;
  }
}

.el-popper {
  border-radius: 15px !important;
  border-color: color.$borderColor !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.07) !important;
}

.el-select__popper {
  .el-popper__arrow {
    display: none;
  }
}

// 调试时将本样式注释
.share-box {
  z-index: -5;
  position: fixed;
  bottom: -500vh;
}

// 可实时预览海报生成

.settings-box {
  display: flex;
  justify-content: center;

  div .el-button span {
    color: #878787;
  }
}

.api-input-box {

  .el-input {
    margin-top: 5px;
    height: 40px;

    .is-focus {
      border-color: var(--el-input-focus-border-color) !important;
    }

    .el-input__wrapper {
      &:hover {
        border-color: var(--el-input-hover-border-color);
      }

      box-shadow: none;

      border: {
        style: solid;
        width: 1px;
        color: color.$borderColor;
        right-width: 0px;
        top-left-radius: 15px;
        bottom-right-radius: 15px;
        top-right-radius: 15px;
        bottom-left-radius: 15px;
      }

      ;
    }
  }

}

.setting-item {
  margin-top: 15px;

  .el-select {
    margin-top: 5px;
  }
}

.el-select {
  .el-select__wrapper {
    color: black;
    border-color: color.$borderColor;
    border-radius: 15px;

    .el-select__selection span {
      color: black;
    }

    .el-select__suffix i {
      color: #999999;
    }
  }
}

::selection {
  background: color.$zestelaColor;
  /* 粉红色的底色 */
  color: white;
  /* 文字的颜色 */
}

.unable-item {
  pointer-events: none;
}